@*using System;
    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>
    <ul>
        @{
            foreach (System.Data.DataRow dr in ViewBag.category.Rows)
            {
                <li>
                    <a href='#'>@dr["Category_Name"]</a>
                    @{
                        ((Multilevel_Menu.Controllers.HomeController)this.ViewContext.Controller).get_Submenu(Convert.ToInt32(dr["Cat_id"]));
                    }
                    <ul>
                        @{
                            foreach (Multilevel_Menu.Models.Subcategory subitem in Session["submenu"] as List<Multilevel_Menu.Models.Subcategory>)
                            {
                                <li>
                                    <a href='#'>@subitem.Subcat_name</a>
                                    @{
                                        ((Multilevel_Menu.Controllers.HomeController)this.ViewContext.Controller).get_Subtosubmenu(Convert.ToInt32(subitem.Subcat_id));
                                    }
                                    <ul>
                                        @{
                                            foreach (Multilevel_Menu.Models.subtosubcategory subtosubitem in Session["subtosubmenu"] as List<Multilevel_Menu.Models.subtosubcategory>)
                                            {
                                                <li><a href='#'>@subtosubitem.Subtosubcat_Name</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>

            }
        }
    </ul>*@

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CSS3 Responsive Menu Dropdown + Submenu width Logo</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <header>
        <nav id='cssmenu'>
            <div class="logo"><a href="index.html">Responsive </a></div>
            <div id="head-mobile"></div>
            <div class="button"></div>
            <ul>
                @{
          foreach (System.Data.DataRow dr in ViewBag.category.Rows)
          {
              <li>
                  <a href='#'>@dr["Category_Name"]</a>
                  @{
                      ((JsonMenuBarDBApp.Controllers.HomeController)this.ViewContext.Controller).get_Submenu(Convert.ToInt32(dr["Cat_id"]));
                  }
                  <ul>
                      @{
                          foreach (JsonMenuBarDBApp.Models.Subcategory subitem in Session["submenu"] as List<JsonMenuBarDBApp.Models.Subcategory>)
                          {
                              <li>
                                  <a href='#'>@subitem.Subcat_name</a>
                                  @{
                                      ((JsonMenuBarDBApp.Controllers.HomeController)this.ViewContext.Controller).get_Subtosubmenu(Convert.ToInt32(subitem.Subcat_id));
                                  }
                                  <ul>
                                      @{
                                          foreach (JsonMenuBarDBApp.Models.subtosubcategory subtosubitem in Session["subtosubmenu"] as List<JsonMenuBarDBApp.Models.subtosubcategory>)
                                          {
                                              <li><a href='#'>@subtosubitem.Subtosubcat_Name</a></li>
                                          }
                                       }
                                  </ul>
                              </li>
                          }
                         }
                  </ul>
              </li>
          }
        }



              
            </ul>
        </nav>
    </header>
    <section style='padding-top:20px;font:bold  44px arial;@*color:#68D800*@; color:coral; text-align:center'>
        Nested Menubar
    </section>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>


